.container-fluid
	#i7plusheader
		.text-center
			%p
				Happy Shopping
				
				%br
				IPhone 6/6s 
				%br Cases
				%hr{'style':'width:30%;'}
				%hr{'style':'width:15%;'}
	#paginatediv
		%p
			= link_to 'Home' , root_path
			>
			=link_to ' iPhone 6/6s'
		%hr

	.crouseldiv
		.image
		
		.image.img31
			.text-center{'style':'margin-top:390px;'}
				.h4
					Happy iphone 6  Light Grey Case
				.grey
					From 699.00
		
		.image.img32
			.text-center{'style':'margin-top:390px;'}
				.h4
					Happy iphone 6  Midnight Black Case
				.grey
					From 699.00
			
		.image.img33
			.text-center{'style':'margin-top:390px;'}
				.h4
					Happy iphone 6  Choco Brown Case
				.grey
					From 699.00
			
		.image.img34
			.text-center{'style':'margin-top:390px;'}
				.h4
					Happy iphone 6  Moon Grey Case
				.grey
					From 699.00
	
	.margin
	= render 'footer'