.container-fluid
	#i7plusheader
		.text-center
			%p
				Happy Shopping
				
				%br
				IPhone 6/6s Covers
				%hr{'style':'width:30%;'}
				%hr{'style':'width:15%;'}
	#paginatediv
		%p
			= link_to 'Home' , root_path
			>
			=link_to ' iPhone 6/6s'
		%hr

	.crouseldiv
		.image
		
		.image.img31
		
		.image.img32
			
		.image.img33
			
		.image.img34
	
	.margin
	= render 'footer'