.container-fluid
	#i7plusheader
		.text-center
			%p
				Happy Shopping
				
				%br
				IPhone 7 Covers
				%hr{'style':'width:30%;'}
				%hr{'style':'width:15%;'}
	#paginatediv
		%p
			= link_to 'Home' , root_path
			>
			=link_to ' iPhone 7'
		%hr

	.crouseldiv
		.image
		
		.image.img21
		
		.image.img22
			
		.image.img23
			
		.image.img24

	.margin
	= render 'footer'