.container-fluid
	#i7plusheader
		.text-center
			%p
				Happy Shopping
				
				%br
				IPhone 7 
				%br Cases
				%hr{'style':'width:30%;'}
				%hr{'style':'width:15%;'}
	#paginatediv
		%p
			= link_to 'Home' , root_path
			>
			=link_to ' iPhone 7'
		%hr

	.crouseldiv
		.image
		
		.image.img21
			.text-center{'style':'margin-top:390px;'}
				.h4
					Happy iphone 7 Midnight Black Case
				.grey
					From 799.00
		
		.image.img22
			.text-center{'style':'margin-top:390px;'}
				.h4
					Happy iphone 7 Moon Grey Case
				.grey
					From 799.00
			
		.image.img23
			.text-center{'style':'margin-top:390px;'}
				.h4
					Happy iphone 7 Cosmic Black Case
				.grey
					From 799.00
			
		.image.img24
			.text-center{'style':'margin-top:390px;'}
				.h4
					Happy iphone 7 Rose Reds Case
				.grey
					From 799.00

	.margin
	= render 'footer'